/* Garante que html e body ocupem 100% da altura */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout base da aplicação */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  padding: 40px;
}
